{% extends 'base.html' %}
{% load static %}
{% block title %}
Product
{% endblock%}

{% block content%}
<div class="contianter py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'img/product-2.png' %}" alt="">
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <div>
                <h1 class="product_title">HTC One</h1>
                <h5 class="text-info font-italic mb-3">
                            <span class="mr-1">EUR</span> 300
                </h5>
                <p class="product_description">Prouct Description</p>
                <p class="text-justify product_text">Dummy Text for product
                description</p>
                <p class="text-justify product_text"><b>Out of stock</b></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}